.clustering-box {
    width:  100%;
    padding: 10px 40px;
}

canvas {
    border: 1px solid gray;
}

.operations {
    display: flex;
    align-items: center;
}

.operations > div,.operations > button  {
    margin-right: 5px;
}


.info-icon {
    margin-left: 20px;
    transform: scale(1);
    animation: translating 1s  ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes translating {
    0%   { transform: scale(0.8); }
    100% { transform: scale(1.2); }
  }
