.k-means-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
}

.controls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls > span {
    margin-top: 5px;
}

.clusterInfoBlock {
    margin-right: 10px;
    padding: 0 2px;
    min-width: 50px;
    min-height: 40px;
    border-radius: 5px;
}

.clusterTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.clusterTitle > div:first-child{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clusterTitle > div:last-child{
    font-weight: bold;
}

.clusterInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.clusterMark {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.controls > .ant-alert  {
    padding: 5px;
}

.controls > .ant-alert > .ant-alert-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

.controls > .ant-alert > .ant-alert-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
