.dbscan-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
}

.controls > .ant-alert {
    margin-top: 10px;
}
