.form-layout {
    width: 100%;
}

.ant-row {
    height: 32px;
    display: flex;
}

.ant-col.ant-form-item-control-wrapper {
    width: 100%;
}

h4.ant-typography, .ant-typography h4 {
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 18px;
}

.form-item {
    margin-bottom: 21px;
}

.form-item-remember {
    height: 20px;
}

.input-item[type="text"],[type="password"] {
    text-align: center;
    background-color: #FFF0F0;
    border: 0px;
    border-radius: 0px;
}

.input-item::placeholder { 
    color: #565656;
 }


.enter-button-item {
    background-color: #FFAEAD !important;
    border-color: #FFAEAD !important;
}

.remember-checkbox-item {
    float: left;
}

.secondary-text-field {
    font-size: 8px;
    line-height: 20px;
}