.test-box {
    padding: 20px;
    height: max-content;
    min-height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.emoji-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.emoji-block {
    padding: 5px;
    height: 100px;
    width:  100px;
}